<div id="movie-info-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">{{ movieModalCtrl.movieInfoService.movieFileInfo ? movieModalCtrl.movieInfoService.movieFileInfo.title : movieModalCtrl.movieInfoService.item.name }}</h4>
            </div>
            <div class="modal-body">
               <div class="row" ng-show="movieModalCtrl.movieInfoService.movieFileInfo">
                    <div class="col-xs-3">
                        <img class="img-responsive" ng-src="{{ movieModalCtrl.movieInfoService.movieFileInfo.posterUrl}}"/>
                    </div>
                    <div class="col-xs-9">
                        <div>{{ movieModalCtrl.movieInfoService.movieFileInfo.summary }}</div>
                        <div style="margin-top: 5px">
                            <div style="float: left; margin-right: 15px">
                                <span class="glyphicon glyphicon-star" aria-hidden="true" style="color: #EFD15A"></span> {{ movieModalCtrl.movieInfoService.movieFileInfo.rating}}
                            </div>
                            <div style="float: left; margin-right: 15px">
                                <span class="glyphicon glyphicon-time" aria-hidden="true" style="color: #EFD15A"></span> {{ movieModalCtrl.movieInfoService.movieFileInfo.duration}} mins
                            </div>
                            <div style="float: left; margin-right: 15px">
                                <span class="glyphicon glyphicon-calendar" aria-hidden="true" style="color: #EFD15A"></span> {{ movieModalCtrl.movieInfoService.movieFileInfo.releaseDate}}
                            </div>
                            <div style="float: left" ng-class="movieModalCtrl.movieInfoService.item.hasSubs ? 'has-subs-modal' : 'no-subs-modal'">
                                <span class="glyphicon glyphicon-subtitles" aria-hidden="true" ></span> 
                                <span>{{ movieModalCtrl.movieInfoService.item.hasSubs ? 'Has Subs' : 'No Subs'}}</span>
                            </div>
                            <div style="clear: both"></div>
                        </div>
                    </div>
               </div>
               <div ng-hide="movieModalCtrl.movieInfoService.movieFileInfo">
                    No information found for this file
               </div>
            </div>
            <div class="modal-footer">
                <button id="movie-modal-touch-button" type="button" class="btn btn-primary" ng-click="movieModalCtrl.touchFile()">Touch</button>
            </div>
        </div>
    </div>
</div>